
body{
    background:#fefdf5;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-custom{
    background-color:#fefdf5 !important;
    margin-top:5vh;  
    padding-right:0;
}

a{
    margin-top:18px;
    margin-left:4vw; 
}

ul{
    font-family:"Ubuntu";
    letter-spacing: 2px;
    font-weight:700;
    font-size:26px;
    margin-right:8vmin;
    padding-bottom:2px;
}

li{
    margin-left:25px;
}

.branding{
    color:#ee6352 !important;
}

.branding:hover{
    border-bottom: 2px solid #ee6352;
  
}

.product{
    color:#3fa7d6 !important;
}

.product:hover{
    border-bottom: 2px solid #3fa7d6;
}

.message{
    color:#f8c05e !important;
}

.message:hover{
    border-bottom: 2px solid #f8c05e;
}

.logo{
    position:relative;
    width:100%;
    height:auto;  
}

.logo:hover .tinypattern {
    -webkit-animation: rotation 0.5s 1 linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.tinypattern, .gimmehappiless{
    display:inline-block;
}

.tinypattern img{
    width:15px;
    height:auto;
}

.tinypattern:nth-child(1){
    position:absolute;
    top:-45px;
    left:15px;
}

.tinypattern:nth-child(2){
    position:absolute;
    top:50px;
    left:160px;
}

.tinypattern:nth-child(3){
    position:absolute;
    top:-25px;
    left:180px;
}

.tinypattern:nth-child(4){
    position:absolute;
    top:60px;
    left:55px;
}

.tinypattern:nth-child(5){
    position:absolute;
    top:-60px;
    left:100px;
}

.tinypattern:nth-child(6){
    position:absolute;
    top:0px;
    left:-30px;
}


.logoword{
    position:absolute;
    width:150px;
    height:auto;
    top:-20px;
    left:10px; 
}


#button:hover{
    color:#686868;
    background:#f8c05e;
    box-shadow: inset 0 10px 10px 0 rgba(114, 108, 108, 0.5);

}

#button{
    margin-top:20vmin;
    font-family:"cooper-black-std", serif;
    color:#686868;
    font-size:3.5vmin;
    border-radius:6vmin;
    width:28vmin;
    height:8vmin;
    object-fit: contain;
    box-shadow: 0 7px 6px 0 rgba(114, 108, 108, 0.5);
    border: solid 6px #f8c05e;
    background-image: linear-gradient(0deg,#f5f2f2, white 70%);
}

img{
    width:100%;
}

.question{
    font-family:"Ubuntu",serif;
    font-size: 6vmin;
    color:#686868;
    font-weight:500;
    position:absolute;
    top:10vh;
    left:-2vw;
    width:80vw;
    text-align: center;
    
}

.coffee{
    text-align: center;
    margin:0;
    height:20vh;
    padding:0;
    position: relative;
}

.button1{
    display:flex;
    justify-content:flex-end;
}

.bar{
    position:relative;
    padding:0;
}

.bar img{
    width:100%;
    height:auto;
}

#spin{
    position:absolute;
	top:0;
	right:0;
	bottom:0;
    width:12.5%;
    height:100%;
    z-index:1;
    display: none;
}
#spin img{
    width: 100%;
    height: 100%;
	position:absolute;
}
 
#spin img:nth-child(3){
   animation-name: spin;
   animation-duration:1.2s;
   animation-iteration-count:2;
   animation-timing-function: linear; 
}

#spin img:nth-child(4){
    position:absolute;
    top:8%;
    left:25%;
    width:50%;
    height:auto;
    animation-name:big;
    animation-duration:2s;
    animation-iteration-count:1;
    animation-timing-function: linear; 
} 

@keyframes spin {
    from {
        transform:rotate(0deg);
        opacity:0.5;
    }
    to {
        transform:rotate(360deg);
        opacity:1;
    }
}

@keyframes big{
    0%{
        transform:scale(0.8, 0.8);
        opacity:0;
    }
    50%{
        transform:scale(1.1, 1.1);
    }
    100%{
        transform:scale(1,1);
    }
}

.whatsup{
    position:fixed;
    top:43vh;
    right:0;
    width: 37px;
    height: 160px;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 2px 5px 0 rgba(142, 141, 141, 0.5);
    background-color: #ffffff;
}

.whatsup a{
    margin:30px auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration:none;
    transform: rotate(-180deg);
    font-family: "Ubuntu";
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: center;
    color: #686868;
}