
body{
    background:#fefdf5;
    height: 100%;
    margin: 0;
    padding: 0;
}


.navbar-custom{
    background-color:#fefdf5 !important; 
    position:fixed;
    margin-top:5vh;  
    padding-right:0; 
    width:100%;
    z-index:2;
}

a{
    margin-top:18px;
    margin-left:4vw;
}

ul{
    font-family:"Ubuntu";
    letter-spacing: 2px;
    font-weight:700;
    font-size:26px;
    margin-right:8vmin;
}

li{
    margin-left:25px;
}

.branding{
    color:#ee6352 !important;
}

.branding:hover{
    border-bottom: 2px solid #ee6352;
  
}

.product{
    color:#3fa7d6 !important;
}

.product:hover{
    border-bottom: 2px solid #3fa7d6;
}

.message{
    color:#f8c05e !important;
}

.message:hover{
    border-bottom: 2px solid #f8c05e;
}

/* @font-face {
    font-family: abc;
    src: url("/CooperLtBTBold.ttf") format("truetype");
    
}

h1 { 
    font-family: abc, serif;
    font-size: 11vmin;
    text-align:left;
    color:#ee6352;
    margin-left:4vmin;
    font-weight:bold;
} */

/* h1{
    font-family:'cooper-black-std',serif;
    font-size:85px;
    text-align:left;
    color:#ee6352;
} */

.logo{
    position:relative;
    width:100%;
    height:auto;
    z-index:2;
}

.logo:hover .tinypattern {
    -webkit-animation: rotation 0.5s 1 linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.tinypattern, .gimmehappiless{
    display:inline-block;
}



.tinypattern img{
    width:15px;
    height:auto;
}

.tinypattern:nth-child(1){
    position:absolute;
    top:-45px;
    left:15px;
}

.tinypattern:nth-child(2){
    position:absolute;
    top:50px;
    left:160px;
}

.tinypattern:nth-child(3){
    position:absolute;
    top:-25px;
    left:180px;
}

.tinypattern:nth-child(4){
    position:absolute;
    top:60px;
    left:55px;
}

.tinypattern:nth-child(5){
    position:absolute;
    top:-60px;
    left:100px;
}

.tinypattern:nth-child(6){
    position:absolute;
    top:0px;
    left:-30px;
}


.logoword{
    position:absolute;
    width:150px;
    height:auto;
    top:-20px;
    left:10px; 
}

.whatsup{
    position:fixed;
    top:43vh;
    right:0;
    width: 37px;
    height: 160px;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 2px 5px 0 rgba(142, 141, 141, 0.5);
    background-color: #ffffff;
}

.whatsup a{
    margin:30px auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration:none;
    transform: rotate(-180deg);
    font-family: "Ubuntu";
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: center;
    color: #686868;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width:300px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top:0;
    left:0;
    background-color:#fefdf5; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40vh;
    transition:0.5s;
    z-index: 1;
  }

  .sidenav a {
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    margin-left:0;
    padding-top:10px;
    transition:0.3s;
    text-transform:uppercase;
    color:#686868;
    font-family: 'Ubuntu';
    font-weight:bold;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: center;
    font-size:26px;
    text-decoration:none;
    
  }

  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #content {margin-left:10px;}

  } */

  .other::before{
      content:'';
      position:absolute;
      height:2px;
      width:180px;
      background-color:#979797;
      display:none;
  }

  .other:hover{
    /* content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:2px;
    width:180px;
    background-color:#979797;
    display:flex; */
    border-bottom:solid 2px #686868;
}

  .glamorous::after{
    content:'';
    position:absolute;
    height:2px;
    width:100px;
    background-color:#979797;
    display:none;
  }

  .glamorous:hover{
    /* content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:2px;
    width:100px;
    background-color:#979797;
    display:flex; */
    border-bottom:solid 2px #686868;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
  }

  #content {
    position:absolute;
    top:30vh;
    left:30vw;
    padding:0;
    display:flex;
    flex-direction: initial;
    justify-content:space-around;
    width:65vw;
    height:auto;
  }
  
  @media (orientation: portrait), (max-width:992px){
    #content{
       left:20vw;
    }
}

  .toy{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
  }

 .card{
     display:flex;
     flex-direction:column; 
     box-sizing:border-box;
     height:17vmax;
     width:20vmax;
     box-shadow: 0px 3px 16px 0 rgba(114, 108, 108, 0.25);
     border-radius:16px; 
 }    
  

 .card img{
     object-fit:cover;
     width: 100%;
     height: 100%;
     border-radius:16px 16px 0 0 ;
 }

 h4{
    font-family:"Ubuntu";
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.44px;
    text-align: center;
    color: #686868;
   
 }

 .card-body{
    background-color:white;
    box-shadow: 0px 3px 16px 0 rgba(114, 108, 108, 0.25);
    border-radius:0 0 16px 16px;
 }

 .switch{
    background-color:white;
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:80px;
    border-radius: 0 16px 16px 0;
    box-shadow: 0 2px 7px 0 rgba(190, 190, 190, 0.49);
    display: none;
    z-index: 3;
}


 
