

body{
    background:#fefdf5;
    height: 100%;
    margin: 0;
    padding: 0;
}


.navbar-custom{
    background-color:#fefdf5 !important;  
    margin-top:5vh;  
    padding-right:0;
}

a{
    margin-top:18px;
    margin-left:4vw;
    
}

#below{
    height: 500px;
    margin: 0%;
    padding: 0;
    margin-right:8vmin;
    margin-left:8vmin;
    margin-top:6vmin;

    
}

ul{
    font-family:"Ubuntu";
    letter-spacing: 2px;
    font-weight:700;
    font-size:26px;
    margin-right:8vmin;
}

li{
    margin-left:25px;
    /* margin-right:15px; */
}

.branding{
    color:#ee6352 !important;
}

.branding:hover{
    border-bottom: 2px solid #ee6352;
  
}

.product{
    color:#3fa7d6 !important;
}

.product:hover{
    border-bottom: 2px solid #3fa7d6;
}

.message{
    color:#f8c05e !important;
}

.message:hover{
    border-bottom: 2px solid #f8c05e;
}

/* @font-face {
    font-family: abc;
    src: url("/CooperLtBTBold.ttf") format("truetype");
    
}

h1 { 
    font-family: abc, serif;
    font-size: 11vmin;
    text-align:left;
    color:#ee6352;
    margin-left:4vmin;
    font-weight:bold;
} */

#below{
    margin:5%;
}

h1{
    font-family:'cooper-black-std',serif;
    font-size:85px;
    text-align:left;
    color:#ee6352;
    padding-top:5vh;
}



#button:hover{
    color:#686868;
    background:#f8c05e;
    box-shadow: inset 0 10px 10px 0 rgba(114, 108, 108, 0.5);

}

#button{
    position:relative;
    margin:30px;
    font-family:'cooper-black-std';
    color:#686868;
    font-size:3.5vmin;
    letter-spacing: 1.4;
    border-radius:6vmin;
    width: 35vmin;
    height: 12vmin;
    object-fit: contain;
    box-shadow: 0 7px 6px 0 rgba(114, 108, 108, 0.5);
    border: solid 9px #f8c05e;
    background-image: linear-gradient(0deg,#f5f2f2, white 70%);
}

.logo{
    position:relative;
    width:100%;
    height:auto;  
}

.logo:hover .tinypattern {
    -webkit-animation: rotation 0.5s 1 linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.tinypattern, .gimmehappiless{
    display:inline-block;
}

.tinypattern img{
    width:15px;
    height:auto;
}

.tinypattern:nth-child(1){
    position:absolute;
    top:-45px;
    left:15px;
}

.tinypattern:nth-child(2){
    position:absolute;
    top:50px;
    left:160px;
}

.tinypattern:nth-child(3){
    position:absolute;
    top:-25px;
    left:180px;
}

.tinypattern:nth-child(4){
    position:absolute;
    top:60px;
    left:55px;
}

.tinypattern:nth-child(5){
    position:absolute;
    top:-60px;
    left:100px;
}

.tinypattern:nth-child(6){
    position:absolute;
    top:0px;
    left:-30px;
}


.logoword{
    position:absolute;
    width:150px;
    height:auto;
    top:-20px;
    left:10px; 
}

.whatsup{
    position:fixed;
    top:43vh;
    right:0;
    width: 37px;
    height: 160px;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 2px 5px 0 rgba(142, 141, 141, 0.5);
    background-color: #ffffff;
}

.whatsup a{
    margin:30px auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration:none;
    transform: rotate(-180deg);
    font-family: "Ubuntu";
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: center;
    color: #686868;
}

