

body{
    background:#fefdf5;
    height: 100%;
    margin: 0;
    padding: 0;
}


.navbar-custom{
    background-color:#fefdf5 !important;    
}

a{
    margin-top:18px;
    margin-left:8vmin;
}

#below{
    height: 500px;
    margin: 0%;
    padding: 0;
    margin-right:8vmin;
    margin-left:8vmin;
    margin-top:6vmin;

    
}

ul{
    font-family:"Ubuntu";
    letter-spacing: 2px;
    font-weight:700;
    font-size:26px;
    margin-right:8vmin;
}

li{
    margin-left:25px;
    /* margin-right:15px; */
}

.branding{
    color:#ee6352 !important;
}

.branding:hover{
    border-bottom: 2px solid #ee6352;
  
}

.product{
    color:#3fa7d6 !important;
}

.product:hover{
    border-bottom: 2px solid #3fa7d6;
}

.message{
    color:#f8c05e !important;
}

.message:hover{
    border-bottom: 2px solid #f8c05e;
}

/* @font-face {
    font-family: abc;
    src: url("/CooperLtBTBold.ttf") format("truetype");
    
}

h1 { 
    font-family: abc, serif;
    font-size: 11vmin;
    text-align:left;
    color:#ee6352;
    margin-left:4vmin;
    font-weight:bold;
} */

h1{
    font-family:'cooper-black-std',serif;
    font-size:85px;
    text-align:left;
    color:#ee6352;
    
}

#button:hover{
    color:#686868;
    background:#f8c05e;
    box-shadow: inset 0 10px 10px 0 rgba(114, 108, 108, 0.5);

}

#button{
  
    font-family:'cooper-black-std';
    color:#686868;
    font-size:4vmin;
    letter-spacing: 1.4;
    border-radius:6vmin;
    width: 35vmin;
    height: 12vmin;
    object-fit: contain;
    box-shadow: 0 7px 6px 0 rgba(114, 108, 108, 0.5);
    border: solid 9px #f8c05e;
    background-image: linear-gradient(0deg,#f5f2f2, white 70%);
}

.logo{
    width:100%;
    height:auto;
}


