
body{
    background:#fefdf5;
    height: 100%;
    margin: 0;
    padding: 0;
}


.navbar-custom{
    background-color:#fefdf5 !important;    
    margin-top:5vh;  
    padding-right:0;
}

a{
    margin-top:18px;
    margin-left:4vw;   
}
ul{
    font-family:"Ubuntu";
    letter-spacing: 2px;
    font-weight:700;
    font-size:26px;
    margin-right:8vmin;
}

li{
    margin-left:25px;
    /* margin-right:15px; */
}

.branding{
    color:#ee6352 !important;
}

.branding:hover{
    border-bottom: 2px solid #ee6352;
  
}

.product{
    color:#3fa7d6 !important;
}

.product:hover{
    border-bottom: 2px solid #3fa7d6;
}

.message{
    color:#f8c05e !important;
}

.message:hover{
    border-bottom: 2px solid #f8c05e;
}

h1{
    font-family:'cooper-black-std',serif;
    font-size:85px;
    text-align:left;
    color:#ee6352;
    
}

#button:hover{
    color:#686868;
    background:#f8c05e;
    box-shadow: inset 0 10px 10px 0 rgba(114, 108, 108, 0.5);

}

#button{
    margin-top:5vmin;
    font-family:'cooper-black-std', serif;
    color:#686868;
    font-size:4vmin;
    border-radius:6vmin;
    width: 35vmin;
    height: 12vmin;
    object-fit: contain;
    box-shadow: 0 7px 6px 0 rgba(114, 108, 108, 0.5);
    border: solid 11px #f8c05e;
    background-image: linear-gradient(to bottom, #ffffff, var(--white));
}

.logo{
    position:relative;
    width:100%;
    height:auto;  
    z-index:3;
}

.logo:hover .tinypattern {
    -webkit-animation: rotation 0.5s 1 linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.tinypattern, .gimmehappiless{
    display:inline-block;
}

.tinypattern img{
    width:15px;
    height:auto;
}

.tinypattern:nth-child(1){
    position:absolute;
    top:-45px;
    left:15px;
}

.tinypattern:nth-child(2){
    position:absolute;
    top:50px;
    left:160px;
}

.tinypattern:nth-child(3){
    position:absolute;
    top:-25px;
    left:180px;
}

.tinypattern:nth-child(4){
    position:absolute;
    top:60px;
    left:55px;
}

.tinypattern:nth-child(5){
    position:absolute;
    top:-60px;
    left:100px;
}

.tinypattern:nth-child(6){
    position:absolute;
    top:0px;
    left:-30px;
}

.logoword{
    position:absolute;
    width:150px;
    height:auto;
    top:-20px;
    left:10px; 
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width:300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index:1; /* Stay on top */
    top:0;
    left:0;
    background-color:#fefdf5; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40vh;
    transition:0.5s;
  }

  .sidenav a {
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    margin-right:0;
    padding-top:10px;
    transition:0.3s;
    text-transform:uppercase;
    color:#686868;
    font-family: 'Ubuntu';
    font-weight:bold;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: center;
    font-size:26px;
    text-decoration:none;
    
  }

  .sidenav a:hover{
      border-bottom:solid 2px #686868;
  }

 .content{
     display:flex;
     height:60%;
     
 }

.ohno img{
     object-fit: cover;
 }

 .card{
     top:8vmin;
     box-shadow: 0 3px 7px 0 rgba(190, 190, 190, 0.5);
 }

.description{
    margin-top:10vmin;
    background-color:#fefdf5;
}

h2{
  font-family: "Ubuntu";
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: center;
  color: #686868;
  
}

.description p{
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: 0.72px;
  color: #686868;
  margin-top:7vmin;
  margin-bottom:7vmin;
  
}

.btn-outline-warning{
    position:relative;
    top:-5vh;
    margin-left:5vw;
    border-radius:6vmin;
    width: 35vw;
    height: 12vh;
    object-fit: contain;
    box-shadow: 0 7px 6px 0 rgba(114, 108, 108, 0.5);
    border: solid 8px #f8c05e;
    background-image: linear-gradient(to bottom, #ffffff, rgba(248,248,248));
    
}

.btn-outline-warning p{
    color:#686868;
    font-size:3.5vmin;
    font-family:'cooper-black-std', serif;
    margin:0;
}

 .btn-outline-warning:hover{
    color:#686868;
    background:#f8c05e;
    box-shadow: inset 0 10px 10px 0 rgba(114, 108, 108, 0.5);
   
}

.bg-modal{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index:2;
}

.ohno{
    position:absolute;
    top:15%;
    left:38%;
    right:0;
    bottom:0;
    width:30vw;
    height:50vh;
    transition:transform .2s;
}

.ohno img{
    object-fit: contain;
    width:100%;
    height:auto;
    position:absolute;
    top:-13%;
    left:0;
    right:0;
    bottom:0;

}

.ohno .dirt{
    position:absolute;
    top:-30px;
    left:40%;
    width:18%;
    height:auto;
    
}

.ohno:hover{
    transform:scale(1.05);
    
}

.ohno:hover .dirt{
    animation-name: dirt;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
}

@keyframes dirt {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(359deg);
    }
}



.pattern{
    position:absolute;
    width:10%;
    height:10%;
    top:70%;
    right:0;
    bottom:0;
    left:20%;
}

.pattern:nth-child(1){
    position:absolute;
    top:70%;
    right:0;
    bottom:0;
    left:20%;
}

.pattern:nth-child(2){
    top:73%;
    right:0;
    bottom:0;
    left:40%;
}

.pattern:nth-child(3){
    top:76%;
    right:0;
    bottom:0;
    left:50%;
}

.whatsup{
    position:fixed;
    top:43vh;
    right:0;
    width: 37px;
    height: 160px;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 2px 5px 0 rgba(142, 141, 141, 0.5);
    background-color: #ffffff;
}

.whatsup a{
    margin:30px auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration:none;
    transform: rotate(-180deg);
    font-family: "Ubuntu";
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: center;
    color: #686868;
}

.what-modal{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index:4;
}

.what-content{
    width:40%;
    height:45%;
    background-color:#f8d186;
    border-radius:16px;
    box-shadow: 3px 3px 16px 0 rgba(114, 108, 108, 0.25);
    position: relative;
    align-items: center;
}

.what-content p{
  font-family: "Ubuntu";
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  position:absolute;
  top:10%;
  left:10%;
}

.face{
    position:absolute;
    top:30%;
    left:10%;
    flex-direction: row;
    justify-content:space-evenly;
    width:90%;
}

.closex{
    position: absolute;
	top: -10px;
	right: 10px;
    font-size: 55px;
    font-weight:200;
	color: #979797;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666666;
	}
}

#say{
    position:absolute;
    top:75%;
    left:10%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    width:65%;
    height:15%;
    
}

#say::placeholder{
    font-family: "Ubuntu";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #bdbaba;
}

#send{
    position:absolute;
    top:75%;
    left:80%;
    border-radius: 8px;
    background-color: #f7e0b8;
    color:#8d8d8d;
    width:15%;
    height:15%;
    
}

@media (max-width:992px){
    .what-content p{
        font-size:20px;
    }
    #say{
        left:20%;
        top:60%;
    }
    #say::placeholder{
        font-size:9px;
    }
    #send{
        font-size:9px;
        left:20%;
        top:80%;
        width:65%;
    }
    .feedback{
        flex-direction:column;
        display:block;
    }
    .container{
        margin-top:15vh;
    }
}
