
body{
    background:#fefdf5;
    height: 100%;
    margin: 0;
    padding: 0;
}


.navbar-custom{
    background-color:#fefdf5 !important; 
    position:fixed;
    top:0;
    width:100%;
    z-index:99;
}

a{
    margin-top:18px;
    margin-left:8vmin;
}

ul{
    font-family:"Ubuntu";
    letter-spacing: 2px;
    font-weight:700;
    font-size:26px;
    margin-right:2vmin;
    
    
}

li{
    margin-left:25px;
    
}

.branding{
    color:#ee6352 !important;
}

.branding:hover{
    border-bottom: 2px solid #ee6352;
  
}

.product{
    color:#3fa7d6 !important;
}

.product:hover{
    border-bottom: 2px solid #3fa7d6;
}

.message{
    color:#f8c05e !important;
}

.message:hover{
    border-bottom: 2px solid #f8c05e;
}

/* @font-face {
    font-family: abc;
    src: url("/CooperLtBTBold.ttf") format("truetype");
    
}

h1 { 
    font-family: abc, serif;
    font-size: 11vmin;
    text-align:left;
    color:#ee6352;
    margin-left:4vmin;
    font-weight:bold;
} */


.logo{
    width:100%;
    height:auto;
}

  h3::before{
      content:'';
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0px;
      background-color:#979797;
      display:none;
  }

  h3:hover::before{
    content:'';
    position:absolute;
    top:94%;
    right:0;
    bottom:0;
    left:23%;
    height:2px;
    width:50%;
    background-color:#979797;
    display:flex;
}

.first{
    padding:30vh 0 0 0 ;
}

.second{
    padding:20vh 0 0 0;
}

.third{
    padding:20vh 0 0 0;
}

.sidenav {
    position:fixed;
    top:40vh;
    left:3vw;
    width:20%;
    height:50%;
    z-index: 1;
    background:#fefdf5;
    overflow-x: hidden;
    overflow-y:hidden;
    padding: 8px 0;
    list-style-type:none;
  }

.active a{
    color:#F38A8A;
    border-bottom:3px solid #F38A8A;
}

.sidenav h3 {
    display:block;
    width:70%;
    position:relative;
    text-transform:uppercase;
    color: #686868;
    font-family: "Ubuntu";
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: center;
    text-decoration:none;
    font-size:25px;
    margin:0 auto 0 auto;
  }

.sidenav a{
    padding:2vh 0;
    margin:0;
  }

.sidenav li{
    padding:0;
    margin:0;
  }

.content{
    position:absolute;
    top:30vh;
    right:0;
    bottom:0;
    left:25%;
    width:70vw;
  }

#first{
    padding:25vh 0;
}

#second{
    padding:25vh 0;
}

#third{
    padding:25vh 0;
}


.pattern{
    display:inline-block;
    position:absolute;
   
}

.pattern p:nth-child(1){
    transform:rotate(180deg);
    position:absolute;
    top:0;
    left:3vw;
    right:0;
    bottom:0;
    width:1%;
    font-family: 'cooper-black-std';
    color:#ee6352;
    font-size:50px;
    
}

.pattern p:nth-child(2){
    position:absolute;
    top:8vh;
    left:55vw;
    right:0;
    bottom:0;
    width:1%;
    font-family: 'cooper-black-std';
    color:#ee6352;
    font-size:50px;
}


.text p:nth-child(1){
    font-family:'cooper-black-std';
    color:#ee6352;
    font-size:28px;
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
}

.text p{
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: 0.56px;
    text-align: justify;
    color: #686868;
}

.text p:nth-child(2){
    padding:5vh 0 0 0;
}










 
